div#comments {
  margin: 0 20px;
  width: 90%;

  & > div.comment {
    margin-top: 25px;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 5px;

    & > div.comment-header {
      margin-bottom: 10px;
    }

    & > div.comment-buttons {
      display: flex;
      justify-content: flex-end;

      & > button {
        margin: 15px 0 0 15px;
        width: 80px;
      }
    }
  }
}
