div#comments {
  width: 90%;

  & > div.comment {
    margin-top: 25px;

    & > div.comment-header {
      margin-bottom: 10px;
    }

    & > div.comment-buttons {
      display: flex;
      justify-content: flex-end;

      & > button {
        margin: 15px 0 0 15px;
        width: 80px;
      }
    }
  }
}
