div#comment-modal {
  padding: 0 40px;

  & > .comment-modal-buttons {
    display: flex;
    justify-content: space-between;

    & > .modal-button {
      width: 48%;
      height: 35px;
      border: none;
      border-radius: 5px;
      font-size: 20px;
    }

    & > .delete {
      background-color: red;
    }
  }
}
