.outer-div-recent-activity {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.left-activity {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.right-activity {
    display: flex; 
    flex-direction: column;
    align-items: center;
}