/* .outer-div-recent-activity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
}

.left-activity a {
    text-decoration: none;
    color: black;
}

.right-activity a {
    text-decoration: none;
    color: black;
} */

div.recent-activity-container {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

p.div-title {
  font-weight: 600;
}

div.payment-card {
  padding: 0.3em 1em;
}
