div.main-content {
  display: flex;
  justify-content: center;
  width: 100%;
  & > div.main {
    border: 1px solid lightgrey;
    width: 600px;
    min-height: 80vh;
    margin: 0 20px;
    border-radius: 1em;
    background-color: white;
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    align-items: center;
    box-shadow: 0 0 5px lightgrey;
    padding: 1em;
  }
}

div.left-bar {
  flex-grow: 2;
  /* margin-left: 1em; */
  box-sizing: border-box;
}

div.right-bar {
  flex-grow: 2;
  /* margin-right: 1em; */
  box-sizing: border-box;
}

nav#sidebar {
  width: 100%;
}
nav#sidebar ul {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav#sidebar li {
  margin: 0.5em;
  columns: #1e1e1e;
  border: 1px solid transparent;

  width: 90%;
  text-align: center;
  border-radius: 0.3em;
  font-weight: bold;
}

nav#sidebar li:hover {
  background-color: lightgrey;
}

nav#sidebar li > a {
  display: inline-block;
  padding: 1em 0;
}

nav#sidebar {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  /* border: 1px solid grey; */
}

nav#sidebar li {
  margin: 0;
  padding: 0;
}
