form#signup-form {
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 2em;
  & h1 {
    text-align: center;
  }
}

form#signup-form > label {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

form#signup-form input {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 0.3em;
}

#signup-button {
  align-self: center;
  width: fit-content;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0.5em 1em;
  border: 1px solid lightgrey;
  border-radius: 1em;
  font-size: 1em;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 0 5px lightgrey;
}

button#signup-button:hover {
  box-shadow: none;
  background-color: lightgrey;
}

.secret {
  visibility: hidden;
  width: 286px;
  margin: 0;
  padding: 0;
  min-height: 20px;
}

.seen {
  width: 286px;
  padding: 0;
  margin: 0;
  min-height: 20px;
}

h1 {
  margin: 0;
  padding-top: 0;
  padding-bottom: 10px;
}
