.profile-dropdown {
  position: absolute;
}

#navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  height: 100px;

}

#navbar-right ul {
  list-style-type: none;
}

#navbar-left {
  align-items: center;
}

#navbar-right {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
